GEMINI_API_KEY="Your_Gemini_API_Key_Here"
GROQ_API_KEY="Your_Groq_API_Key_Here"

GEMINI_MODEL="Your_Chosen_Gemini_Model_Here"
GROQ_MODEL="Your_Chosen_Groq_Model_Here"

TOGETHER_API_KEY="together_api_key"
TOGETHER_MODEL="together_ai_model"

SUPABASE_URL="https://your-project.supabase.co"
SUPABASE_SERVICE_KEY="your-secret-service-role-key"